# Keil5环境下STM32F103忽略文件
*.bat
*.bak
*.ddk
*.edk 
*.lst 
*.lnp 
*.mpf 
*.mpj 
*.obj 
*.omf 
*.plg 
*.rpt 
*.tmp 
*.__i 
*.crf 
*.o 
*.d 
*.axf 
*.tra 
*.dep 
*.md           
JLinkLog.txt 
*.bat
Listing/
Doc/
Output/
Project/RVMDK（uv5）/DebugConfig
Project/RVMDK（uv5）/Listings
Project/RVMDK（uv5）/Objects
Project/RVMDK（uv5）/EventRecorderStub.scvd
Project/RVMDK（uv5）/LaneController_STM32.uvguix.Administrator
Project/RVMDK（uv5）/LaneController_STM32.uvoptx
Project/RVMDK（uv5）/LaneController_STM32.uvguix.jerry
User/*.txt